<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32001">
        <setting label="32011" type="bool" id="big_picture_mode_enable" default="false"/>
        <setting label="32014" type="bool" id="steamos_mode_enable" default="false" enable="eq(-1,true)"/>
        <setting label="32012" type="bool" id="windowmanager_stop" default="false"/>
        <setting label="32013" type="bool" id="eventlircd_stop" default="true"/>
    </category>
    <category label="32003">
        <setting label="32033" type="action" action="RunScript(/storage/.xbmc/addons/multimedia.steam/default.py,reset)"/>
    </category>
</settings>
